<html>
<head>
    <title>trash</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <style type="text/css">
      .container {
        max-width: 1024px;
        padding-top: 100px;
      }

    </style>
</head>
<body>
<div class="container">
<h2>TrashWatch™ avagy a legalja</h2>
    <table class="table">
        <thead>
        <tr>
            <th>link</th>
            <th>track_end</th>
            <th>last_activity</th>
            <th>last_video</th>
        </tr>
        </thead>
        <tbody>
        {% for r in results %}
        <tr><td><a href="https://youtube.com/channel/{{r}}">{{results[r].nick}}</a></td>
        <td> {{results[r].lease_date}} </td>
        <td> {{results[r].last_event}} </td>
        <td><a href="https://www.youtube.com/watch?v={{results[r].last_video}}">{{results[r].video_title}}</a></td></tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</body>
</html>